.article-list {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--highlight);
}

.article-list--col1 {
	max-width: 100%;
}

.article-list--col1 img {
	max-width: 100%;
}

.article-list--col2 {
	margin: 0;
}

.article-list--col2 h3 {
	text-transform: uppercase;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.article-list--excerpt {
	margin-bottom: 1rem;
}

.article-list--date {
	background: var(--inverted);
	padding: 0.3rem 0.5rem;
	border-radius: 10px;
	font-size: 0.8rem;
	display: inline;
}

.article-list--meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.article-list--link {
	color: var(--highlight);
	text-transform: uppercase;
	font-size: 0.8rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	transition: all ease-in 0.3s;
	text-decoration: none;
}

.article-list--more {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-list--link:hover {
	transform: translateX(1rem);
}

.arrow {
	width: 16px;
	margin: 0 0.8rem 0 0.3rem;
}

@media (min-width: 650px) {
	.article-list {
		display: flex;
		flex-direction: row;
	}

	.article-list--col2 {
		margin: 0 1rem;
	}

	.article-list--col1 {
		max-width: 300px;
	}
}
