.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.col1 {
	width: 100%;
	padding: 0;
	margin-right: 0;
}

.col2 {
	width: 100%;
	padding: 0;
	margin-right: 0;
}

@media (min-width: 740px) {
	.content {
		flex-direction: row;
	}

	.col2 {
		width: 400px;
		padding: 2rem;
	}

	.col1 {
		width: 900px;
	}
}
