.featuredArticle {
	width: 100%;
	margin-bottom: 2rem;
}

.featuredArticle img {
	width: 100%;
}

.featuredArticle h2 {
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.featuredArticle .excerpt {
	margin: 1rem 0;
}

.featuredArticle .metadata {
	font-size: 0.8rem;
	background: var(--inverted);
	padding: 0.4rem 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}
